<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Bar Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">와인 데이터 분석 그래프</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="myBarChart"></canvas>
            </div>
            <hr>
            a ranking graph of the origin of a well-scored wine <br> 좋은 점수를 받은 와인(point가 95점 이상)의 수가 가장 많은 나라는 미국이며 프랑스, 이탈리아, 호주, 포르투갈 순으로 많습니다. </br>
        </div>
    </div>  
</div>